

[v-cloak] {
  display: none;
}

*{
  margin:0;
  padding:0;
}

body{
  font:15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;
  text-align:center;
}

a, a:visited {
  outline:none;
  color:#389dc1;
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside, nav{
  display: block;
}


/*-------------------------
    The search input
--------------------------*/

.bar{

  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  width: 400px;
  padding: 0;
  margin: 45px auto 0;
  position:relative;
}

.bar input{
  background:#fff no-repeat 13px 13px;

  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px 0;

  border-radius: 2px;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}

ul{
  list-style: none;
  width: 405px;
  margin: 0 auto;
  text-align: left;
}

ul li{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

ul li img{
  width:60px;
  height:60px;
  float:left;
  border:none;
}

ul li p{
  margin-left: 75px;
  font-weight: bold;
  padding-top: 12px;
  color:#6e7a7f;
}

.hide{
  display: none;
}